:root {
  --dark-color: #1D0051;
  --dark-color--rgb: 29, 0, 81;
  --pop-color: #bf01b7;
  --pop-color--rgb: 191, 1, 183;
  --pop-color--secondary: #1bacbb;
  --pop-color--secondary-rgb: 27, 172, 187;
  --theme-gray: #cccccc;
  --theme-text-color: #424242;
}

*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
  display: inline-block;
  position: relative;
  min-width: 100%;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
  background-color: #fff;
  font-family: "PT Sans", sans-serif;
  line-height: 1.2em;
  color: var(--theme-text-color);
}
li {
  position: relative;
}
::-webkit-input-placeholder {
  color: var(--theme-gray);
}
::-moz-placeholder {
  color: var(--theme-gray);
}
:-ms-input-placeholder {
  color: var(--theme-gray);
}
::-ms-input-placeholder {
  color: var(--theme-gray);
}
::placeholder {
  color: var(--theme-gray);
}

/* Preview Section */
div.preview-container.preview__min-height {
  min-height: 420px;
}
.preview-container {
  margin: 0 auto;
  max-width: 1764px;
}
.preview-container.mobile-width {
  width: 57.5%;
  min-width: 320px;
}
.preview-container__msg {
  display: block;
  margin-bottom: 1rem;
}

/* ------------------ | Shopify Theme Styles | ------------------ */
.preview-container {
  font-family: 'Source Sans Pro' ,sans-serif;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.4em;
  color: #424242;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.preview-container h1, .preview-container h2, .preview-container h3, .preview-container h4, .preview-container h5, .preview-container h6 {
  font-family: PT Sans,sans-serif;
  font-family: PT Sans,sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  padding: 0 0 0.2em;
  color: #424242;
  margin: 0 0 0.5em;
}
.preview-container h2 {
  font-size: 1.66667em;
}
.preview-container p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin: 0 0 1em;
}
.preview-container img {
  display: block;
}
.preview-container img, iframe {
  max-width: 100%;
}
.preview-container img {
  height: auto;
  vertical-align: top;
}
.preview-container a {
  text-decoration: none;
  transition: background-color 120ms,color 120ms;
  color: #424242;
}
.preview-container a:visited {
  color: #424242;
}
button, .button {
  transition: background-color 120ms,color 120ms;
  background-color: #fff;
}

/* Shopify Theme GG Changes */
.gg-content-area {
	margin: 1em 0;
}
.mobile {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: .5em 0;
}
.desktop {
    display: none;
}
@media screen and (min-width: 768px) {
    .desktop {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .mobile {
        display: none;
    }
}

/* ------------------ | Everything Else | ------------------ */
/* Confetti Canvas */
#confetti-canvas {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 6.75rem;
  left: 0px;
  pointer-events: none;
  z-index: 40;
}
@media screen and (min-width: 491px) and (max-width: 878px) {
  #confetti-canvas {
    top: 4.5rem;
  }
}
@media screen and (min-width: 879px) {
  #confetti-canvas {
    top: 6.25rem;
  }
}
/* Header */
.header {
  display: block;
  position: fixed;
  color: #fff;
  /* background: rgb(3,214,185);
  background: linear-gradient(0deg, rgba(99,33, 171,1) 0%, rgba(3,214,185,1) 100%); */
  background-color: #3d0055;
  background: linear-gradient(0deg, rgba(61,0, 85,1) 0%, rgba(13,0, 26,1) 100%);
  border-bottom: 2px solid var(--pop-color);
  background: url("../images/header-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0;
  width: 100%;
  /* this has to be set this high so it look as if the confetti is falling from the header. Otherwise, 3000 would do it. */
  z-index: 1000000;
  }
  .title__wrapper {
  display: inline-block;
  margin: -.1rem 1rem 0 0;
  vertical-align: top;
}
.title__page-title, .title__icon {
  display: inline-block;
  line-height: 1;
  font-size: 2.5rem;
}
.title__page-title {
  margin: 0;
}
.title__page-title.title__title, .title__icon {
  text-shadow: 0 0 8px rgba(var(--pop-color--secondary-rgb), .5), 0 0 8px rgba(var(--pop-color--secondary-rgb), .5), 0 0 8px rgba(var(--pop-color--secondary-rgb), .5), 0 0 8px rgba(var(--pop-color--secondary-rgb), .5);
}
.title__icon__form {
  display: inline-block;
}
.title__icon {
  background-color: transparent;
  border: none;
  padding: 0;
  vertical-align: sub;
  cursor: pointer;
  /* transform-origin: center; */
  transition: all .20s ease-in-out;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */

}
/* .title__icon:hover {
  transform: scale(1.25);
} */
.title__page-title--sub-title {
  display: block;
  font-size: 1.16rem;
  margin: 0;
}
.title__section-title {
  margin: 0;
}
.title--username {
  display: block;
}
.top-buttons-wrapper {
  /* display: none; */
  display: inline-block;
}
.top-buttons-wrapper .svg-button {
  width: 38px;
  height: auto;
  max-height: 35px;
  padding: .4rem;
  background-color: #fff;
  border: 2px solid var(--pop-color);
  border-radius: 4px;
  margin-right: .5rem;
  cursor: pointer;
}
.top-buttons-wrapper .svg-button {
  background-color: #fff;
  fill: var(--dark-color);
}
.top-buttons-wrapper .svg-button:hover {
  /* background-color: var(--dark-color); */
  border-color: var(--pop-color--secondary);
  transform: scale(1.1);
  /* fill: #fff; */
}
.top-buttons-wrapper .svg-button.active {
  background-color: var(--pop-color--secondary);
  border-color: var(--pop-color--secondary);
  fill: #fff;
  box-shadow: 0 0 8px rgba(var(--pop-color--secondary-rgb), .5), 0 0 8px rgba(var(--pop-color--secondary-rgb), .5), 0 0 8px rgba(var(--pop-color--secondary-rgb), .5), 0 0 8px rgba(var(--pop-color--secondary-rgb), .5);
}
.lazyload-checkbox {
  display: none;
}
.icon_heart {
  color: var(--pop-color);
}
.button {
  padding: .5rem 1rem;
}
.button, .svg-button, .layout-dropdown, .username {
  transition: all .20s ease-in-out;
  border: 2px solid var(--pop-color);
}
.button:hover {
  /* background-color: var(--dark-color); */
  border-color: var(--pop-color--secondary);
  /* color: #fff; */
  font-weight: 600;
  transform: scale(1.075);
}
.button.alt {
  /* background: var(--dark-color); */
  background: var(--pop-color);
  color: #fff;
}
.button.alt:hover {
  color: var(--dark-color);
  font-weight: 600;
  background-color: #fff;
  border: 2px solid var(--pop-color--secondary);
  transform: scale(1.075);
}
.hover-effect__box-shadow:hover {
  box-shadow: 0 0 4px 4px rgba(var(--pop-color--secondary-rgb), .6), 0 -6px 0 0 rgba(var(--pop-color--rgb), .5), 0 -12px 0 0 rgba(var(--pop-color--rgb), .38), 0 -18px 0 0 rgba(var(--pop-color--rgb), .25), 0 -24px 0 0 rgba(var(--pop-color--rgb), .1), 0 6px 0 0 rgba(var(--pop-color--rgb), .5), 0 12px 0 0 rgba(var(--pop-color--rgb), .38), 0 18px 0 0 rgba(var(--pop-color--rgb), .25), 0 24px 0 0 rgba(var(--pop-color--rgb), .1);
}
.hover-effect__text-shadow:hover {
  text-shadow: 0 6px 4px rgba(var(--pop-color--secondary-rgb), .6), 0 -6px 4px rgba(var(--pop-color--secondary-rgb), .6), 6px 0 4px rgba(var(--pop-color--secondary-rgb), .6), -6px 0 4px rgba(var(--pop-color--secondary-rgb), .6), 0 -6px 0 rgba(var(--pop-color--rgb), .5), 0 -12px 0 rgba(var(--pop-color--rgb), .38), 0 -18px 0 rgba(var(--pop-color--rgb), .25), 0 -24px 0 rgba(var(--pop-color--rgb), .1), 0 6px 0 rgba(var(--pop-color--rgb), .5), 0 12px 0 rgba(var(--pop-color--rgb), .38), 0 18px 0 rgba(var(--pop-color--rgb), .25), 0 24px 0 rgba(var(--pop-color--rgb), .1);
}
.layout-dropdown, .top-buttons-wrapper .svg-button {
  margin: 0 .5rem 0 0;
}
.layout-dropdown, .top-buttons-wrapper, .username {
  margin-top: .5rem;
}
.section__bottom-btns {
  text-align: center;
}
.menu__lower-right {
  display: block;
  position: fixed;
  padding: 1rem 2rem 1rem 1rem;
  height: auto;
  cursor: pointer;
  bottom: 1.5rem;
  right: -247px;
  z-index: 3000;
}
.menu__lower-right:before {
  content: "«";
  color: var(--dark-color);
  top: 17px;
  width: 64px;
  left: -64px;
  font-size: 1.5rem;
  padding: 1rem 1.55rem;
  position: absolute;
  background-color: #fff;
  border: 2px solid var(--theme-gray);
  border-right: transparent;
  border-radius: 50px 0 0 50px;
  transition: all .20s ease-in-out;
}
.menu__lower-right.slide-in-left:before {
  content: "»";
}
.menu__lower-right:hover::before {
  color: var(--pop-color--secondary);
  border-top: 2px solid var(--pop-color--secondary);
  border-bottom: 2px solid var(--pop-color--secondary);
  border-left: 2px solid var(--pop-color--secondary);
}
.button__svg {
  cursor: pointer;
  display: block;
  width: 54px;
  height: 54px;
  background-color: #fff;
  padding: .75rem;
  border: 2px solid var(--pop-color);
  stroke: var(--dark-color);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  border-radius: 4px;
  fill: transparent;
  margin: 0 0 .75rem 0;
  transition: all .20s ease-in-out;
}
.menu__lower-right .button__svg {
  display: inline-block;
  margin: 0 .75rem 0 0;
  vertical-align: top;
}
.menu__lower-right .button__svg:last-of-type {
  margin: 0;
}
.button__svg.button__to-live-preview {
  bottom: 9.5rem;
  right: 1rem;
}
.button__svg.button__to-code {
  bottom: 5.25rem;
  right: 1rem;
}
.button__svg.button__back-to-top {
  bottom: 1rem;
  right: 1rem;
}
.button__svg:hover {
   background-color: #fff;
   border-color: var(--pop-color--secondary);
   stroke-width: 7;
   transform: scale(1.15);
   transform-origin: center;
}
/* Layout Selection */
.button__layout-menu-toggle {
  height: 35px;
  margin: 0 .5rem;
  vertical-align: top;
  background-color: #fff;
  font-weight: bold;
  line-height: 1;
}
.layout-options {
  position: fixed;
  background-color: #fff;
  max-width: 202px;
  height: 100%;
  padding: 6px 0 0 1rem;
  text-align: center;
  overflow: auto;
  cursor: default;
  top: 4.5rem;
  left: 0;
  bottom: 0;
  z-index: 2999;
}
@media screen and (min-width: 878px) {
  .layout-options {
    top: 6.25rem;
  }
  .button__layout-menu-toggle {
    height: 35px;
    margin-left: 0;
    vertical-align: top;
  }
}
.layout-wrapper__title-wrapper {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.layout-wrapper__title-wrapper:hover {
  transform: scale(1.1);
}
.layout-wrapper__title {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 2rem 0 1rem;
  text-align: left;
}
.layout-wrapper__title-arrow {
  position: relative;
  display: inline-block;
  width: 20%;
  text-align: right;
  top: -.15rem;
}
.layout-wrapper__title--first {
  margin: .75rem 0 1rem;
}
.layout-wrapper__sub-menu__close-btn {
  width: 100%;
}
.layout-options__button-title {
  display: block;
  text-align: left;
}
.layout-options__close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: .5rem;
  right: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  padding: 0;
  z-index: 3000;
}
.layout-options__close-button-x {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.layout-options__close-button-x::before {
  content: "|";
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
  right: -3px;
  font-size: 1.5rem;
}
.layout-options__close-button-x::after {
  content: "|";
  position: relative;
  display: inline-block;
  transform: rotate(-45deg);
  right: 3px;
  font-size: 1.5rem;
}
.layout-wrapper {
  position: relative;
  list-style: none;
  padding: 1.75rem 1rem 2rem 1rem;
  margin: 0 0 5rem 0;
}
.layout-wrapper__li {
  padding: 0 0 .75rem 0;
  border-bottom: 1px solid var(--theme-gray);
}
.layout-wrapper .layout-wrapper__li:last-of-type {
  border: none;
}
.layout-wrapper__svg-wrapper {
  transition: all .15s ease-in-out;
  width: 150px;
  margin-bottom: 1.25rem;
}
.layout-wrapper__svg-wrapper:hover {
  transform: scale(1.1);
}
.layout-wrapper__svg {
  background-color: #fff;
  padding: 1rem;
  width: 100%;
  height: 100%;
  stroke: var(--dark-color);
  stroke-width: initial;
  fill: var(--dark-color);
  font-weight: 200;
}
.layout-wrapper__svg:hover {
  background-color: #fff;
  border-color: var(--pop-color--secondary);
  stroke-width: 1;
  transform: scale(1);
  transform-origin: center;
}
.layout-wrapper__svg-base-color {
  fill: var(--dark-color);
}
.layout-wrapper__svg-secondary-color {
  fill: #fff;
}
.layout-wrapper__svg-base-stroke-only {
  stroke: var(--dark-color);
  fill: none;
  stroke-width: 3px;
}
.layout-wrapper__svg-base-stroke-filled {
  stroke: var(--dark-color);
  fill: #fff;
  stroke-width: 3px;
}
.layout-wrapper__svg-secondary-stroke-only {
  stroke: var(--pop-color);
  fill: none;
  stroke-width: 3px;
}
.layout-wrapper__svg-wrapper.active .layout-options__button-title {
  font-weight: bold;
  color: var(--pop-color);
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg {
  background-color: var(--pop-color);
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg-base-color, .layout-wrapper__svg__text-inverse {
  fill: #fff;
  stroke: #fff;
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg-secondary-color, .layout-wrapper__svg-wrapper.active .layout-wrapper__svg__text-inverse {
  fill: var(--pop-color);
  stroke: var(--pop-color);
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg-base-stroke-filled {
  stroke: #fff;
  fill: var(--pop-color);
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg__text {
  stroke: #fff;
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg-base-stroke-only {
  stroke: #fff;
}
.layout-wrapper__svg-wrapper.active .layout-wrapper__svg-secondary-stroke-only {
  stroke: var(--pop-color);
}
.layout-wrapper__sub-menu {
  list-style: none;
  padding: 0;
}
.page-overlay {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2998;
  transition: all .15s ease-in-out;
}
.page-overlay--active {
  display: block;
}
.layout-dropdown, .username {
  color: var(--dark-color);
  border: 2px solid var(--pop-color);
  height: 35px;
  vertical-align: top;
}
.layout-dropdown {
  cursor: pointer;
}
.layout-dropdown:hover, .username:hover {
  font-weight: 600;
  border-color: var(--pop-color--secondary);
  transform: scale(1.075);
}
@media screen and (max-width: 878px) {
  .header .container {
    position: relative;
    top: 3px;
  }
  .title__page-title, .title__page-title--sub-title, .title__section-title, .title--username {
    display: none;
  }
  .title__wrapper {
    margin: 0;
  }
  .title__icon {
    vertical-align: unset;
  }
  .wrapper__button-titles {
    display: inline-block;
    width: 100%;
    margin: 0;
  }
  .layout-dropdown {
    margin: 0 .5rem 0 0;
    height: 2.15rem;
  }
  .top-buttons-wrapper, .username {
    margin-top: 0;
  }
}
/* Inputs Section */
input, textarea {
  padding: .75rem;
  border-radius: 4px;
  border: 1px solid var(--theme-gray);
}
input[type="color"] {
  padding: 0 .25rem;
  width: 2.25rem;
  height: 2rem;
}
textarea {
  width: 100%;
}
select {
  background-color: #fff;
}
select.template-options__option {
  width: 200px;
  height: 2rem;
  border-radius: 4px;
  padding: 0 1px;
  border-color: var(--theme-gray);
}
.template-name {
  margin-top: 0;
}
/* Footer */
.footer {
  height: 100px;
  text-align: center;
  margin: 0 auto 1rem;
}
.footer__footer-copy {
  position: relative;
  top: 40px;
}
/* Options Section */
.section__options, .wrapper__button-titles {
  display: inline;
  width: 81.4%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.options--left, .options--right {
  display: inline-block;
}
.options--right {
  width: 152px;
  float: right;
}
.username {
  width: 100%;
}
@media screen and (max-width: 542px) {
  .options--right {
    width: 23.5%;
  }
}
.template-options__ad-wrapper {
  border-bottom: 1px solid var(--theme-gray);
  padding-bottom: .75rem ;
  margin-bottom: 1.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.template-options__wrapper {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
.row .template-options__wrapper:last-of-type, .row .template-options--responsive-width:last-of-type {
  margin-right: 0;
}
.title__element-title {
  color: var(--pop-color--secondary);
}
.template-options__label {
  display: block;
  margin-bottom: .25rem;
}
.label--inline-block {
  display: inline-block;
}
.template-options__helper-text {
  display: inline-block;
}
.template-options__wrapper .template-options__hexcode {
  vertical-align: top;
  line-height: 2.25;
  display: inline-block;
}
.template-options--responsive-width {
  width: 100%;
  margin-right: 0;
}
.template-options--responsive-width .template-options__option {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .template-options--responsive-width {
    width: 47.5%;
      /* width: 32.2%; */
    margin: 0 1rem 1rem 0;
  }
}
/* @media screen and (min-width: 878px) { */
@media screen and (min-width: 969px) {
  .template-options--responsive-width {
    width: 32.2%;
    /* width: 23.72%; */
  }
  textarea {
    width: 66.25%;
  }
}
/* Code Previews */
.viewport-buttons__wrapper {
  display: block;
  margin-bottom: 1rem;
}
.viewport-buttons__wrapper .desktop-button {
  margin-right: 1rem;
}
.viewport-buttons__wrapper .active {
  border-color: var(--pop-color--secondary);
  background-color: var(--pop-color--secondary);
  color: #fff;
}
.title__preview-view-title {
  display: block;
  margin-top: 1rem;
}
.slide-out-sim {
  width: 436px;
  margin: 0 auto;
}
.slide-out-sim.mobile-view {
  width: 80%;
}
@media screen and (max-width: 479px) {
  .slide-out-sim {
    width: 80%;
  }
}
.product-block-sim {
  width: 30%;
  min-width: 145px;
  max-width: 351px;
  margin: 0 auto;
}
@media screen and (min-width: 450px) {
  .product-block-sim {
    width: 40%;
    max-width: 353px;
  }
}
/* Code Output */
.code-output {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  border: 2px solid var(--theme-gray);
}
.code-output:focus {
  outline: none;
}
/* Code Output Form */
.form__code-form .form__button-wrapper {
  display: block;
  margin: .75rem 0 1.25rem 0;
}
.form__code-form .button {
  margin-right: .75rem;
}
.form__code-form .button:hover {
  margin-right: .76rem;
}
.button__copy-button.disabled, .button__save-button.disabled {
  background-color: var(--theme-gray);
  border-color: transparent;
  color: var(--theme-text-color);
}
.button__copy-button.disabled:hover, .button__save-button.disabled:hover {
  background-color: var(--theme-gray);
  border-color: transparent;
  color: var(--theme-text-color);
  font-weight: normal;
  transform: scale(1);
  cursor: not-allowed;
}
.save-msg a {
  color: var(--dark-color);
  font-weight: bold;
  transition: all .15s ease-in-out;
}
.save-msg a:hover {
  color: var(--pop-color);
}
/* Messages & Notifications */
.save-msg {
  display: block;
  margin: 1rem 0 .5rem 0;
  transition: all .20s ease-in-out;
}
.copy-msg, .campaign-name-msg, .header-msg, .warning-msg {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--dark-color);
  opacity: 0;
  vertical-align: middle;
  margin-left: 1.5rem;
}
.copy-msg {
  margin-left: 0;
}
.campaign-name-msg__wrapper {
  display: inline-block;
  align-self: center;
  margin: 0;
}
.campaign-name-msg, .header-msg, .warning-msg {
  opacity: 0;
  display: inline-block;
  margin: 0;
  line-height: 1.25;
  transition: all .20s ease-in-out;
}
.warning-msg {
  margin: .5rem 0 0 0;
}
.wrapper__header-msg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 2000;
}
.header-msg {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  border: 2px solid var(--pop-color);
  border-radius: 0 0 10px 10px;
  padding: .75rem;
  margin: 0 1rem;
  top: 1.3rem;
}
.header-msg__buttons-wrapper {
  margin-top: .25rem;
  text-align: right;
}
.header-msg__buttons-wrapper .button:first-of-type {
  margin-right: .65rem
}
.warning-msg {
  display: inline-block;
  text-align: left;
}
.copy-msg__icon {
  display: inline-block;
  line-height: 1;
  vertical-align: text-bottom;
}
@media screen and (min-width: 641px) {
  .campaign-name-msg__wrapper {
    margin: 0;
  }
  .campaign-name-msg {
    margin: .75rem 0 0 .5rem;
  }
}
@media screen and (min-width: 878px) {
  .campaign-name-msg__wrapper {
    width: 66%;
  }
  .header-msg {
    top: 3rem;
  }
}
.empty-input {
  border: 1px solid var(--dark-color);
}
.visible {
  opacity: 1;
}
/* Misc */
.surprise-msg__container {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 32%;
  z-index: 3001;
}
.surprise-msg__wrapper {
  display: none;
  opacity: 0;
  transform-origin: center center;
  /* transform: scale() */
}
.surprise-cat {
  display: block;
  font-size: 10rem;
  line-height: 1;
  margin: 0 auto;
}
.surprise-msg {
  position: relative;
  display: none;
  opacity: 0;
  background-color: #fff;
  color: var(--dark-color);
  margin: 0 2rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  border: 6px solid var(--pop-color);
  border-radius: 12px;
  /* transform: translateY(-2rem); */
}
@media screen and (max-width: 467px) {
  .surprise-cat {
    font-size: 9.5rem;
  }
  .surprise-msg {
    font-size: 2.5rem;
  }
}
/* Animation Classes */
.surprise-msg.slid-down {
  display: inline-block;
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  revealSurpriseMsg
  /* animation-duration */
  625ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  revealSurpriseMsg
  /* animation-duration */
  625ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.quick-bounce {
  display: block;
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  quickBounce
  /* animation-duration */
  575ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  quickBounce
  /* animation-duration */
  575ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.spin-enlarge {
  display: block;
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  spinEnlarge
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  spinEnlarge
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.surprise-msg__wrapper.slide-out-of-view {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  hideSurpriseMsg
  /* animation-duration */
  500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  hideSurpriseMsg
  /* animation-duration */
  500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.layout-options--visible {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  showLayoutOptions
  /* animation-duration */
  350ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  showLayoutOptions
  /* animation-duration */
  350ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.layout-options--hidden {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  hideLayoutOptions
  /* animation-duration */
  350ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  hideLayoutOptions
  /* animation-duration */
  350ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.slide-in-left {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideInLeft
  /* animation-duration */
  500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideInLeft
  /* animation-duration */
  500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.slide-out-right {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideOutRight
  /* animation-duration */
  500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideOutRight
  /* animation-duration */
  500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.highlight-border {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  highlightBorder
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  infinite
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  highlightBorder
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  infinite
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.campaign-name-msg.slid-out.visible {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideOutPermanent
  /* animation-duration */
  2500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideOutPermanent
  /* animation-duration */
  2500ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.header-msg.slid-down.visible {
  transform-origin: top;
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideDownPermanent
  /* animation-duration */
  250ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideDownPermanent
  /* animation-duration */
  250ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.header-msg.slid-up.visible {
  transform-origin: top;
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideUp
  /* animation-duration */
  250ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideUp
  /* animation-duration */
  250ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.copy-msg.slid-out {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideOut
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  alternate
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  slideOut
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  alternate
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}
.code-output.glow {
  -webkit-animation:
  /* annontated animation shorthand… */
  /* animation-name */
  /* glowFlash */
  borderFlash
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
          animation:
  /* annontated animation shorthand… */
  /* animation-name */
  /* glowFlash */
  borderFlash
  /* animation-duration */
  1000ms
  /* animation-timing-function */
  ease-in-out
  /* animation-delay */
  0s
  /* animation-direction */
  normal
  /* animation-iteration-count */
  1
  /* animation-fill-mode */
  forwards
  /* animation-play-state */
  running;
}

/* Utility Classes */
.container, .section {
  max-width: 980px;
  /* margin: .5rem 1rem; */
  margin: 0 auto;
  padding: 0 1rem;
}
.section__inputs {
  margin-top: 0;
  padding-top: 5.5rem;
}
@media screen and (min-width: 878px) {
  .section__inputs {
    padding-top: 7.5rem;
  }
}
button {
  cursor: pointer;
  border-radius: 4px;
}
.text--serif {
  font-family: serif;
}
.section__margin-top {
  margin-top: 2rem;
}
.light-up-border {
  background-color: #fff;
  border: 2px solid var(--theme-gray);
  border-radius: 4px 0 0 4px;
  transition: all .20s ease-in-out;
  -webkit-filter: drop-shadow(0 0 4px var(--dark-color));
  filter: drop-shadow(0 0 4px var(--dark-color));
}
.light-up-border:hover {
  border-color: var(--pop-color--secondary);
  -webkit-filter: drop-shadow(0 0 4px var(--pop-colo--secondary));
  filter: drop-shadow(0 0 4px var(--pop-color--secondary));
}
.full-width {
  width: 100%;
}
.super-wide {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.reload-page, label > a {
  color: var(--pop-color);
  cursor: pointer;
  text-decoration: underline;
  transition: all .20s ease-in-out;
}
.hidden {
  display: none;
}

/* Animations */
@-webkit-keyframes revealSurpriseMsg {
  0% {
    display: inline-block;
    opacity: 0;
  }
  40% {
    opacity: 1;
    transform: translateY(2.5rem);
  }
  60% {
    opacity: 1;
    transform: translateY(-.75rem);
  }
  80% {
    opacity: 1;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes revealSurpriseMsg {
  0% {
    display: inline-block;
    opacity: 0;
  }
  40% {
    opacity: 1;
    transform: translateY(2.5rem);
  }
  60% {
    opacity: 1;
    transform: translateY(-.75rem);
  }
  80% {
    opacity: 1;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes quickBounce {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-60px);
  }
  40% {
    transform: translateY(-46px);
  }
  45% {
    transform: translateY(12px);
  }
  65% {
    transform: translateY(-4px);
  }
  85% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes quickBounce {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-60px);
  }
  40% {
    transform: translateY(-46px);
  }
  45% {
    transform: translateY(12px);
  }
  65% {
    transform: translateY(-4px);
  }
  85% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes spinEnlarge {
  0% {
    opacity: 0;
    transform: scale(.09) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(380deg);
  }
  70% {
    opacity: 1;
    transform: scale(1) rotate(350deg);
  }
  90% {
    opacity: 1;
    transform: scale(1) rotate(365deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spinEnlarge {
  0% {
    opacity: 0;
    transform: scale(.09) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: scale(1) rotate(380deg);
  }
  70% {
    opacity: 1;
    transform: scale(1) rotate(350deg);
  }
  90% {
    opacity: 1;
    transform: scale(1) rotate(365deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes hideSurpriseMsg {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateY(100px);
  }
}
@keyframes hideSurpriseMsg {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateY(100px);
  }
}
@-webkit-keyframes showLayoutOptions {
  0% {
    transform: translateX(-98%);
    opacity: 0;
  }
  50% {
    transform: translateX(-3%);
    opacity: .75;
  }
  100% {
    transform: translateX(-8%);
  }
}
@keyframes showLayoutOptions {
  0% {
    transform: translateX(-98%);
    opacity: 0;
  }
  50% {
    transform: translateX(-3%);
    opacity: .75;
  }
  100% {
    transform: translateX(-8%);
  }
}
@-webkit-keyframes hideLayoutOptions {
  0% {
    transform: translateX(-3%);
    opacity: 1;
  }
  100% {
    transform: translateX(-98%);
    opacity: 0;
  }
}
@keyframes hideLayoutOptions {
  0% {
    transform: translateX(-3%);
    opacity: 1;
  }
  100% {
    transform: translateX(-98%);
    opacity: 0;
  }
}
@-webkit-keyframes slideInLeft {
  /* 0% {
    right: -105px;
  } */
  /* 25% {
    right: -5px;
  } */
  /* 50% {
    right: -25px;
  } */
  50% {
    /* right: -9px; */
    transform: translateX(-100%);
  }
  100% {
    /* right: -19px; */
    transform: translateX(-93%);
  }
}
@keyframes slideInLeft {
  /* 0% {
    right: -105px;
  } */
  /* 25% {
    right: -5px;
  } */
  /* 50% {
    right: -25px;
  } */
  50% {
    /* right: -9px; */
    transform: translateX(-100%);
  }
  100% {
    /* right: -19px; */
    transform: translateX(-93%);
  }
}
@-webkit-keyframes slideOutRight {
  0% {
    /* right: -19px; */
    transform: translateX(-93%);
  }
  /* 0% {
    right: -140px;
  } */
  /* 25% {
    right: -255px;
  } */
  /* 50% {
    right: -238px;
  } */
  50% {
    /* right: -252px; */
    transform: translateX(4%);
  }
  100% {
    /* right: -247px; */
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  0% {
    /* right: -19px; */
    transform: translateX(-93%);
  }
  /* 0% {
    right: -140px;
  } */
  /* 25% {
    right: -255px;
  } */
  /* 50% {
    right: -238px;
  } */
  50% {
    /* right: -252px; */
    transform: translateX(4%);
  }
  100% {
    /* right: -247px; */
    transform: translateX(0);
  }
}
@-webkit-keyframes slideOut {
  0% {
    left: -20px;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  85% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -20px;
  }
}
@keyframes slideOut {
  0% {
    left: -20px;
  }
  10% {
    left: 0;
    opacity: 1;
  }
  85% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -20px;
  }
}
@-webkit-keyframes slideOutPermanent {
  0% {
    transform: translateX(-20px);
  }
  10% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutPermanent {
  0% {
    transform: translateX(-20px);
  }
  10% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideDownPermanent {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3.2rem);
  }
}
@keyframes slideDownPermanent {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3.2rem);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(3.2rem);
  }
  10% {
    transform: translateY(3.2rem);
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(3.2rem);
  }
  10% {
    transform: translateY(3.2rem);
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}
@-webkit-keyframes borderFlash {
  0% {
    border-top: 2px solid var(--pop-color--secondary);
    border-right: 2px solid var(--pop-color--secondary);
    border-bottom: 2px solid var(--pop-color--secondary);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  25% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color--secondary);
    border-bottom: 2px solid var(--pop-color--secondary);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  40% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color);
    border-bottom: 2px solid var(--pop-color--secondary);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  65% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color);
    border-bottom: 2px solid var(--pop-color);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  80% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color);
    border-bottom: 2px solid var(--pop-color);
    border-left: 2px solid var(--pop-color);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  100% {
    box-shadow: none;
    border: 2px solid var(--theme-gray);
  }
}
@keyframes borderFlash {
  0% {
    border-top: 2px solid var(--pop-color--secondary);
    border-right: 2px solid var(--pop-color--secondary);
    border-bottom: 2px solid var(--pop-color--secondary);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  25% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color--secondary);
    border-bottom: 2px solid var(--pop-color--secondary);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--secondary-rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  40% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color);
    border-bottom: 2px solid var(--pop-color--secondary);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  65% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color);
    border-bottom: 2px solid var(--pop-color);
    border-left: 2px solid var(--pop-color--secondary);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  80% {
    border-top: 2px solid var(--pop-color);
    border-right: 2px solid var(--pop-color);
    border-bottom: 2px solid var(--pop-color);
    border-left: 2px solid var(--pop-color);
    box-shadow:
    /* top */
    0 -6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 -6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* right */
    6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    6px 0 4px 2px rgba(var(--pop-color--rgb), .25),
    /* bottom */
    0 6px 10px 6px rgba(var(--pop-color--rgb), .15),
    0 6px 4px 2px rgba(var(--pop-color--rgb), .25),
    /* left */
    -6px 0 10px 6px rgba(var(--pop-color--rgb), .15),
    -6px 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  100% {
    box-shadow: none;
    border: 2px solid var(--theme-gray);
  }
}
@-webkit-keyframes highlightBorder {
  0% {
    border: 1px solid var(--pop-color);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  15% {
    border: 1px solid var(--pop-color--secondary);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  50% {
    border: 1px solid var(--pop-color);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  85% {
    border: 1px solid var(--pop-color--secondary);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  100% {
    border: 1px solid var(--theme-gray);
  }
}
@keyframes highlightBorder {
  0% {
    border: 1px solid var(--pop-color);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  15% {
    border: 1px solid var(--pop-color--secondary);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  50% {
    border: 1px solid var(--pop-color);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--secondary-rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--secondary-rgb), .25);
  }
  85% {
    border: 1px solid var(--pop-color--secondary);
    box-shadow:
    0 0 10px 6px rgba(var(--pop-color--rgb), .15),
    0 0 4px 2px rgba(var(--pop-color--rgb), .25);
  }
  100% {
    border: 1px solid var(--theme-gray);
  }
}
/* NOT USED ANIMATIONS */
/* @keyframes slideOffScreen {
  100% {
    right: -310px;
  }
}
@keyframes slideOnScreen {
  100% {
    right: -247px;
  }
} */
/* @keyframes slideInLeft {
  0% {
    right: -105px;
  }
  20% {
    right: -5px;
  }
  40% {
    right: -39px;
  }
  60% {
    right: -14px;
  }
  80% {
    right: -25px;
  }
  100% {
    right: -19px;
  }
}
@keyframes slideOutRight {
  0% {
    right: -140px;
  }
  20% {
    right: -240px;
  }
  40% {
    right: -290px;
  }
  60% {
    right: -230px;
  }
  80% {
    right: -260px;
  }
  100% {
    right: -247px;
  }
} */
/*
@keyframes glowFlash {
  0% {
    box-shadow: 0 0 10px 10px rgba(var(--pop-color--secondary-rgb), .25), 0 0 6px 2px rgba(var(--pop-color--secondary-rgb), .5);
    border: 1px solid var(--pop-color--secondary);
  }
  16.665% {
    box-shadow: 0 0 12px 12px rgba(var(--pop-color--rgb), .25), 0 0 18px 4px rgba(var(--pop-color--rgb), .5);
    border: 1px solid var(--pop-color);
  }
  33.33% {
    box-shadow: 0 0 10px 10px rgba(var(--pop-color--secondary-rgb), .25), 0 0 6px 2px rgba(var(--pop-color--secondary-rgb), .5);
    border: 1px solid var(--pop-color--secondary);
  }
  49.995% {
    box-shadow: 0 0 12px 12px rgba(var(--pop-color--rgb), .25), 0 0 18px 4px rgba(var(--pop-color--rgb), .5);
    border: 1px solid var(--pop-color);
  }
  66.66% {
    box-shadow: 0 0 10px 10px rgba(var(--pop-color--secondary-rgb), .25), 0 0 6px 2px rgba(var(--pop-color--secondary-rgb), .5);
    border: 1px solid var(--pop-color--secondary);
  }
  83.325% {
    box-shadow: 0 0 12px 12px rgba(var(--pop-color--rgb), .25), 0 0 18px 4px rgba(var(--pop-color--rgb), .5);
    border: 1px solid var(--pop-color);
  }
  100% {
    box-shadow: none;
  }
}
*/
